    
{% extends 'base.html' %}
{% load static %}

{% block nav %}
  <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-hide-small">
    <i class="fa fa-user"></i> About</a>
  <a href="{% url 'books' %}" class="w3-bar-item w3-button w3-hide-small" >
    <i class="fa fa-book"></i> Books</a>
  <a href="{% url 'journal' %}" class="w3-bar-item w3-button  w3-hide-small" >
    <i class="fa fa-pencil-square"></i> Open journal</a>
    <a href="{% url 'establishment' %}" class="w3-bar-item w3-button w3-hide-small">
    <i class="fa fa-briefcase"></i> My establishment</a>
<a href="{% url 'se' %}" class="w3-bar-item w3-button w3-hide-small">
    <i class="fa fa-file-sound-o"></i> Speaking engagement</a>

<div class="w3-dropdown-hover w3-hide-large w3-hide-medium">
    <button class="w3-button"><i class="fa fa-bars"> </i> Menu</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-sm w3-text-teal">
      <a href="{% url 'index' %}" class="w3-bar-item w3-button ">
        <i class="fa fa-user"></i> About</a>
        <a href="{% url 'books' %}" class="w3-bar-item w3-button">
        <i class="fa fa-book"></i> Books</a>
      <a href="{% url 'journal' %}" class="w3-bar-item w3-button">
        <i class="fa fa-pencil-square"></i> Open journal</a>
      <a href="{% url 'establishment' %}" class="w3-bar-item w3-button">
        <i class="fa fa-briefcase"></i> My establishment</a>
      <a href="{% url 'se' %}" class="w3-bar-item w3-button">
        <i class="fa fa-file-sound-o"></i> Speaking engagement</a>
    </div>
  </div>

  <div class="w3-right">
    <a href="{% url 'testimonial' %}" class="w3-bar-item w3-button w3-white "style="color: #009688!important;">
        <i class="fa fa-sticky-note"></i> Testimonial</a>
    <a href="{% url 'donate' %}" class="w3-bar-item w3-button " style="font-size: 93%;">
        <i class="fa fa-handshake-o"></i> Donate</a>
</div>
{% endblock %}

{% block content %}
<div class="w3-container">


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Testimonials</h2>

        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper w3-row">

            <div class="swiper-slide ">
              <div class="testimonial-item " data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
I love reading Aunty Titilayo's book, Night Time Stories with Great Gran! It is 
            very interesting and I read it with my sister almost every night. 
My mummy told me that when she was little like Eliza and Tim, her grandma used to tell her 
stories too, each time they visited or she visited. I like all the stories, like “The Story of 
the Two Lions,” and “An Adventure outside Light town.” But my favourite is “The Tree that 
Wanted More.” It teaches me to be content; my mummy said, it is being satisfied with what you 
have, without envying others. I also learnt not to be grumpy, as it will drive away all my 
friends. I want all my friends to read it too, thank you Aunty Titilayo.                   <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static '/img/testimonial1.jpeg' %}" class="testimonial-img" alt="">
                <h3>Sonma Uwadinma </h3>
              </div>
            </div><!-- End testimonial item -->
<hr>
            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
If nothing should jolt you or push you up from whatever position or situation you are in now, 
it should be this book "LIVE". Titilayo pours out herself into this book, her vulnerabilities,
 her weaknesses, and her triumph. She bared it all. 
A man of God once said the hardest people to heal supernaturally are doctors or those in medical
 professions, their years of continuous study and exposure to diseases and how the human body 
 works, often impede their faith/belief. <br><br>
Here is a doctor married to a doctor telling a story, her story of faith,  of looking from the
 known to the unknown, saying I am not in a doctor's waiting room but in God's waiting room,
  with a rock solid belief that her children are here (3 of them). This is a complete paradigm 
  shift, of mentally blocking all that she knows and trusting in the One she has come to know. 
<br><br>In the story, her husband Kayode(a doctor) made a profound statement, "I believe you will get 
pregnant supernaturally" known or unknown to her, that is where her faith took root, he also 
recognised the support and strength in the gathering of believers as he took her to church in 
her lowest moments. He shared in all her vulnerabilities, walking side by side with her and 
being her covering. He shares in her visions and dreams ('V' & 'D'), and also a sound bar of 
her new lessons in the walk with the Holy Spirit. Well, you might say she has a supportive 
husband and I don't. When the Holy Spirit told her she is not alone in this journey, He meant 
it, both spiritually and physically, He gives gifts to men, and people are the gifts. 
There is that one person (an encourager) He has assigned to you, that will not judge you and 
will not spread your story in a negative light. Find that person, find your person, trust the 
leading of the Holy Spirit. <br><br>
The Interlude, Question, My Charge, confession and Declaration sessions of the book made 
it more interactive and introspective. There is so much to learn from this book: faith, love,
 and victory. This book will teach you to LIVE and that is your testimony... 
Thank you, Dr for baring it all! 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static '/img/testimonial2.jpeg' %}" class="testimonial-img" alt="">
                <h3> Ada Uwadinma</h3>
              </div>
            </div><!-- End testimonial item -->
            
            <hr>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <div class="w3-white w3-center">
      <hr>
    <video width="320" height="240" controls>
  <source src="{% static 'vid/Video 1.mp4' %}" type="video/mp4">
</video><hr>
    <video width="320" height="240" controls>
  <source src="{% static 'vid/Video 2.mp4' %}" type="video/mp4">
</video><hr>
    <video width="320" height="240" controls>
  <source src="{% static 'vid/Video 3.mp4' %}" type="video/mp4">
</video><hr>
</div>
    </div>

{% endblock %}